*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: Arial, sans-serif;
}
body{
    overflow-x: hidden;
    width: auto;
}
header{
    background:rgb(137, 137, 245) ;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}
.head{
    display:inline-flex;
    text-align: center;
}
img{
    border-radius: 50px;
    height: 180px;
    width: 180px;
    margin-right: 140px;
}
img:hover{
    height: 200px;
    width: 200px;
    border-radius: 50px;
}
h1{
    color: white;
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    margin-left: 15px;
    text-align: center;
    justify-content: center;
}
p{
    text-align: center;
    padding-left: 15px;
    font-weight: bolder;
    padding:5px;
}
.navbar{
    display:flex;
    text-align: center;
    justify-content: center;
}
ul{
    display:flex;
}
ul li{
    display:flex;
    list-style: none;
}
ul li a{
    display:flex;
    padding:5px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bolder;
    margin: 0 10px;
    transition: 0.5s;
}
ul li a:hover{
    color: black;
    background: white;
    border-radius: 5px;
}
.slide-container{
    position:relative;
    width:100%;
    height:100vh;
    background:linear-gradient(rgb(238, 115, 115), rgb(235, 209, 209), rgb(54, 22, 46));
    overflow:hidden;
}
.apply-now{
    position:absolute;
    top:50%;
    left:50%;
    border: 2px solid white;
    transform:translate(-50%, -50%);
    background-color: rgb(219, 248, 87);
    color:white;
    padding:15px 30px;
    font-size:20px;
    font-weight:bolder;
    border-radius:5px;
    text-decoration:none;
}


 .slide{
    margin-bottom: 50px;
    margin-right: 40px;
    border-radius: 10px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow:0 0 15px rgba(0,0,0,0.5);

        position:absolute;
        left:20%;
        border:1px solid white;
        width:60%;
        display:flex;
        justify-content:center;
        align-items:center;
        text-align:center;

        color:white;
        font-size:50px;
        font-weight:bolder;
        padding:30px;
        
        transform:translateY(100%);
        opacity:0;
        animation:slideFade 20s ease-in-out infinite;
    }
/* First paragraph */
    .slide1{
        background-image:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url('photos/ways.png');
        background-repeat: no-repeat;
        background-size: cover;

        animation-delay:0s;
    }

    /* Second paragraph */
    .slide2{
        background-image:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url('photos/view.png');
        position:absolute;
        left:20%; 
        background-repeat: no-repeat;
        background-size: cover;

        animation-delay:5s;
    }

    /* Third paragraph */
    .slide3{
        background-image:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url('photos/ways.png');
        position:absolute;
        left:20%;     
        background-repeat: no-repeat;
        background-size: cover;

        animation-delay:10s;
    }
      .slide4{
        background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url('photos/trees.png');
        left:20%;
        position:absolute;  
        background-repeat: no-repeat;
        background-size: cover;

        animation-delay:15s;
    }

    /* Animation */
    @keyframes slideFade {

        0%{
            transform:scale(0.8);
            opacity:1;

        }

        5%{
            transform:translateY(0);
            opacity:1;
        }

        20%{
            transform:translateY(0);
            opacity:1;
        }

        25%{
            transform:translateY(-100%);
            opacity:0;
        }
        100%{
            transform:scale(0.8);
            opacity:0;
        }
    }
    footer{
        background-image: url('photos/front.png');
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: space-between;
        padding: 20px 30px;
    }
    footer h3{
        font-size: 3em;
        font-weight: bolder;
        color: rgb(97, 6, 245);
        padding-bottom: 10px;
    }
    .footer{
        display:flex;
        flex-direction: row;
    }

    nav ul li a{
        display:block;
        padding:15px;
        color: white;
        text-decoration: none;
        font-size: 1.2em;
        font-weight: bolder;
        margin: 0 10px;
        text-align: right;
        margin-bottom: 40px;
    }
    nav ul li a:hover{
        color: black;
        background: white;
        border-radius: 5px;
    }
    .contact, .follow{
        display:block;
        align-items: start;
        text-align: left;
        padding: 20px 30px;
        font-size: 1.2em;
        text-decoration: none;
    }
    .contact a, .follow a{
        display:block;
        color: white;
        text-decoration: none;
        font-size: 1.2em;
        font-weight: bolder;
        margin: 0 10px;
    
    }
